<h1>Snippets</h1>


<% @snippets.each do |snippet| %>
  <div class="snippet">
    <%= link_to snippet.name, snippet %>
  </div>
<% end %>


<p><%= link_to 'New Snippet', new_snippet_path, class: "btn" %></p>