html, body {
  background-color: #f8f8f8;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
  margin: 0;
}

a img {
  border: none;
}

a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:hover {text-decoration:underline;}
a:active {text-decoration:none;}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#container {
  max-width: 50%;
  margin: 0 auto;
  background-color: #FFF;
  padding: 20px 40px;
  border: 1px solid #CCC;
  margin-top: 70px;
}

#flash_notice, #flash_error, #flash_alert, #flash_info {
  font-weight: bold;
  position:absolute;
  left:0px;
  top:0px;
  z-index:-1;
  width: 100%;
  padding: 10px 0;
  text-align: center;
}

#flash_notice {
  background: #CFC;
  color: #264409;
  border-bottom: solid 1px #C6D880;
}

#flash_error{
  background: #FBE3E4;
  color: #8A1F11;
  border-bottom: solid 1px #C66;
}

#flash_alert {
  background: #FFF6BF;
  color: #514721;
  border-bottom: solid 1px #FFD324;
}

#flash_info {
  background: #D5EDF8;
  color: #205791;
  border-bottom: solid 1px #92CAE4;
}

.field_with_errors {
  display: inline;
}

.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}

.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

.error_messages p {
  margin: 8px 10px;
}

.error_messages ul {
  margin-bottom: 0;
}

form .field, form .actions {
  margin: 12px 0;
}

pre {
  background-color: #F3F3F3;
  border: solid 1px #CCC;
  padding: 5px 10px;
  font-family: 'Menlo', 'Courier New', 'Terminal', monospace;
  overflow: auto;
}

#user_nav {
  float: right;
}